include callattendant/data/DO_NOT_DELETE
include callattendant/data/messages/DO_NOT_DELETE
include callattendant/app.cfg.example
include callattendant/resources/*
include callattendant/userinterface/webapp.cfg
include callattendant/userinterface/static/*
include callattendant/userinterface/static/css/*
recursive-include callattendant/userinterface/templates *

