backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
bs4==0.0.1
click==7.1.2
colorzero==1.1
Flask==1.1.2
flask-paginate==0.6.0
future==0.18.2
gpiozero==1.5.1
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pigpio==1.46
pygments
pyserial==3.4
pytest==6.0.1
pytest-mock==3.3.1
PyYAML==5.3.1
RPi.GPIO==0.7.0
RPIO==0.10.0
soupsieve==1.9.6
Werkzeug==1.0.1
