<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blacklist | Call Attendant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Blacklist</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Reason</th>
        <th>System Date Time</th>
      </tr>
    </thead>
    <tbody>
      {% for row in blacklist %}
      <tr>
        <td>{{ row.Phone_Number }}</td>
        <td>{{ row.Name }}</td>
        <td>{{ row.Reason }}</td>
        <td>{{ row.System_Date_Time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
