<!DOCTYPE html>
<html lang="en">
<head>
  <title>Call Log | Call Attendant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Call Details</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Whitelisted</th>
        <th>Blacklisted</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      {% for record in call_records %}
      <tr
        {% if record.Whitelisted == 'Y' %}
          bgcolor="#90EE90"
        {% elif record.Blacklisted == 'Y' %}
          bgcolor="#FFC0CB"
        {% endif %}
      >
        <td>{{ record.Phone_Number }}</td>
        <td>{{ record.Name }}</td>
        <td>{{ record.Date }}</td>
        <td>{{ record.Time }}</td>
        <td>{{ record.Whitelisted }}</td>
        <td>{{ record.Blacklisted }}</td>
        <td>{{ record.Reason}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
