<!DOCTYPE html>
<html lang="en">
<head>
  <title>Call Log | Call Attendant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="300">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/callattendant.css">
</head>
<!--
This template displays the list of callers in the call log.
The template is rendered with an array of dictionary objects named 'calls'.
-->
<body>

{% include 'navbar.htm' %}

<div class="container">
  <h2>Call Log</h2>

    {% if calls %}
    <div class="container">
        <div class="card-columns">
          <div class="card rounded-pill bg-primary text-white">
            <img class="card-img-top" src="/static/telephone-inbound.svg" alt="Card image" height="100" style="opacity: 0.2;">
            <div class="card-img-overlay">
             <div class="card-body">
              Calls processed:
              <h3 class="font-weight-bolder">{{ total_calls }}</h3>
             </div>
            </div>
          </div>
          <div class="card rounded-pill bg-danger text-white">
            <img class="card-img-top" src="/static/telephone-x.svg" alt="Card image" height="100" style="opacity: 0.2;">
            <div class="card-img-overlay">
             <div class="card-body">
              Calls blocked:
              <h3 class="font-weight-bolder">{{ blocked_calls }}</h3>
             </div>
            </div>
          </div>
          <div class="card rounded-pill bg-success text-white">
            <img class="card-img-top" src="/static/bar-chart.svg" alt="Card image" height="100" style="opacity: 0.2;">
            <div class="card-img-overlay">
            <div class="card-body">
              Percent blocked:
              <h3 class="font-weight-bolder">{{ percent_blocked }}</h3>
             </div>
            </div>
          </div>
        </div>
    </div>
    {{ pagination.links }}
    <table id="calls" class="table table-hover">
        <thead>
          <tr>
            <th>Call #</th>
            <th>Phone</th>
            <th>Name</th>
            <th>Date Time</th>
            <th>Action</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
        {% for item in calls %}
          <tr class="{% if item.whitelisted == 'Y' %} table-success {% elif item.blacklisted == 'Y' %} table-danger {% endif %}" data-call-no="{{ item.call_no }}">
            <td class="callno">
              <span class="manage-caller clickable">{{ item.call_no }}</span>
              <span>
              {% if item.msg_no is not none %}
                <button type="button" class="message-btn btn btn-outline-light text-dark" data-toggle="modal" data-target="#messageModal"
                    data-message-no="{{ item.msg_no }}" data-call-no="{{ item.call_no }}" data-phone-no="{{ item.phone_no }}" data-wav-file="{{ item.wav_file }}"  >
                  <img src={% if item.msg_played == 0 %}"../static/chat-left-text.svg"{% else %}"../static/chat-left.svg"{% endif %} alt="" width="16" height="16" title="Message">
                </button>
              {% endif %}
              </span>
            </td>
            <td class="phoneno manage-caller clickable">{{ item.phone_no }}</td>
            <td class="name manage-caller clickable">{{ item.name }}</td>
            <td class="date-time manage-caller clickable">{{ item.date_time }}</td>
            <td class="action manage-caller clickable">
              <span class="badge {% if item.action=='Permitted' %}badge-primary{% elif item.action=='Blocked' %}badge-danger{% else %}badge-info{% endif %}">
                {{ item.action }}
              </span>
            </td>
            <td class="reason manage-caller clickable">{{ item.reason }}</td>

          </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.links }}
    {% endif %}
</div>

<!--
  Play Message Modal
-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgModalLabel">Playing Message</h5>

        <button type="button" class="pause close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 id="call-no">Voice message from call</h6>
        <audio id="audio" controls preload="metadata">
          <source type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="modal-footer">
        <button type="button" class="pause btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--
  Context Menu
-->
<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li id="permit-item"><a tabindex="-1" href="#">Permit</a></li>
    <li id="block-item"><a tabindex="-1" href="#">Block</a></li>
</ul>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">

$('.manage-caller').on('click', function (event) {
  var $elem = $(event.currentTarget)
  // find the parent table row which has the call no.
  var $tr = $elem.parents('tr')
  var call_no = $($tr[0]).data('call-no')
  window.location.href = "/manage_caller/" + call_no
});

$('#messageModal').on('show.bs.modal', function (event) {
  // Button that triggered the modal
  var $button = $(event.relatedTarget)
  // Extract info from data-* attributes
  var msg_no = $button.data('message-no')
  var call_no = $button.data('call-no')
  var phone_no = $button.data('phone-no')
  var wav_file = $button.data('wav-file')
  var $modal = $(this)
  var $audio = $modal.find('audio')
  $modal.find('.modal-title').text('Playing Message from ' + phone_no)
  $modal.find('#call-no').text('Voice message from call #' + call_no)
  $modal.find('audio source').attr("src", wav_file)
  $modal.find('audio').trigger('load')
  $modal.find('audio').trigger('play')
  $modal.on('hidden.bs.modal', function () {
    $audio.trigger('pause')
  });
});

$(document).ready( function () {
  // Highlight this page in the menu
  $('#log').addClass('active');
});
</script>
</body>
</html>
