<!DOCTYPE html>
<html lang="en">
<head>
  <title>Voice Messages | Call Attendant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/callattendant.css">
</head>
<body>

{% include 'navbar.htm' %}

<div class="container">
  <h2>Voice Messages <img src="../static/chat-left-text.svg" alt="" width="32" height="32">
  {% if total_unplayed > 0 %}
    <i><span class="badge badge-primary"><span id="total-unplayed">{{ total_unplayed }}</span> New </span></i>
  {% endif %}
  </h2>

  {% if total_messages == 0 %}
  <h4><i>None</i></h4>
  {% else %}
   {{ pagination.links }}
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Play</th>
          <th>Time</th>
          <th>Caller</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for item in messages %}
        <tr data-call-no="{{ item.call_no }}">
          <td>
            <span>
              <button type="button" class="message-btn btn btn-sm btn-outline-light text-dark" data-toggle="modal" data-target="#messageModal"
                  data-message-no="{{ item.msg_no }}" data-msg-played="{{ item.msg_played}}" data-call-no="{{ item.call_no }}"
                  data-phone-no="{{ item.phone_no }}" data-wav-file="{{ item.wav_file }}"  >
                <img src={% if item.msg_played == 0 %}"../static/play-fill.svg"{% else %}"../static/play.svg"{% endif %} alt="" width="24" height="24" title="Play Message">
              </button>
            </span>
            {% if item.msg_played == 0 %}
            <span id="msg-{{ item.msg_no }}" class="badge badge-pill badge-primary"><i> New </i></span>
            {% endif %}
          </td>
          <td class="manage-caller time">
            <b>{{ item.time }}</b>
            <span class="d-sm-none"><br></span>
            {{ item.date }}
          </td>
          <td class="manage-caller">
            <b>{{ item.phone_no }}</b> -
            <span class="d-sm-none"><br></span>
            <i>{{ item.name }}</i>
          </td>
          <td class="px-1">
            <button type="button" class="btn btn-outline-light text-dark" onClick="location.href='/messages/delete/{{ item.msg_no }}'">
              <img src="../static/trash.svg" alt="" width="24" height="24" title="Delete Message">
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}
    {% endif %}
</div>

<!--
  Play Message Modal
-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgModalLabel">Playing Message</h5>

        <button type="button" class="pause close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 id="call-no">Voice message from call</h6>
        <audio id="audio" controls preload="metadata">
          <source type="audio/wav">
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="modal-footer">
        <button type="button" class="pause btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">

$('.manage-caller').on('click', function (event) {
  var $elem = $(event.currentTarget)
  // find the parent table row which has the call no.
  var $tr = $elem.parents('tr')
  var call_no = $($tr[0]).data('call-no')
  window.location.href = "/manage_caller/" + call_no
});

$('#messageModal').on('show.bs.modal', function (event) {
  // Button that triggered the modal
  var $button = $(event.relatedTarget)
  // Extract info from data-* attributes
  var msg_no = $button.data('message-no')
  var msg_played = $button.data('msg-played')
  var wav_file = $button.data('wav-file')
  var call_no = $button.data('call-no')
  var phone_no = $button.data('phone-no')
  var $modal = $(this)
  var $audio = $modal.find('audio')
  $modal.find('.modal-title').text('Playing Message from ' + phone_no)
  $modal.find('#call-no').text('Voice message from call #' + call_no)
  $modal.find('audio source').attr("src", wav_file)
  $modal.find('audio').trigger('load')
  $modal.find('audio').trigger('play')
  $modal.on('hidden.bs.modal', function () {
    $audio.trigger('pause')
  });
  if (msg_played == 0) {
  // Set the status to 1; "played"
  var data = { msg_no: msg_no, status: 1 }
  $.post("/messages/played", data, function(results) {
      if (results.success) {
        $('#msg-'+results.msg_no).remove()
        $('#total-unplayed').text(results.unplayed_count)
      }
    });
  }
});


$("audio").on('play', function(e) {
  var $audio = $(e.currentTarget)
  var message_no = $audio.data('message-no')
  var msg_played = $audio.data('played-status')
  if (msg_played == 0) {
    // Set the status to 1; "played"
    var data = { msg_no: message_no, status: 1 }
    $.post("/messages/played", data, function(results) {
        if (results.success) {
          $('#msg-'+results.msg_no).remove()
          $('#total-unplayed').text(results.unplayed_count)
        }
    });
  }
});


$(document).ready( function () {
  // Highlight the current page in the menu
  $('#messages').addClass('active');
});
</script>
</body>
</html>
