{% extends "base.html" %}

{% block title %}View Call #{{ caller.call_no }}{% endblock %}

{% block content %}
<div class="container">
  <div class="m-2 border">
    <h4>Call #{{ caller.call_no }}&nbsp;
      <span class="badge
      {% if caller.action=='Permitted' %}badge-primary
      {% elif caller.action=='Blocked' %}badge-danger
      {% else %}badge-info
      {% endif %}">
        &nbsp;was {{ caller.action }}
      </span>
    <h4>
    <h5>Time: <b>{{ caller.time }}</b></h5>
    <h5>Date: {{ caller.date }}</h5>
    <p>Reason: {{ caller.reason }}</p>
  </div>

  <div class="m-2 border">
    <h4>Phone: <b>{{ caller.phone_no }}</b>&nbsp;
      <span class="badge
      {% if caller.whitelisted == 'Y' %} table-success
      {% elif caller.blacklisted == 'Y' %} table-danger
      {% endif %}">
        {% if caller.whitelisted == 'Y' %} is currently Permitted
        {% elif caller.blacklisted == 'Y' %} is currently <i>Blocked</i>
        {% else %} is currently allowed
        {% endif %}
      </span>
    </h4>
    <h5>Name: {{caller.name }}</h5>
    <button class="btn btn-primary mb-2">Change</button>
  </div>

</div>
{% endblock %}

