/* Offset the body from the nav-bar fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
/* Set a fixed width for the phone column */
.phoneno {
   width: 125px;
}
/* Set a fixed width for the date column */
.date {
   width: 90px;
}
/* Set a fixed width for the time column */
.time {
   width: 95px;
}
